.footer {
	margin-top: 87px;
	padding-bottom: 80px;

	@include r($md-breakpoint) {
		margin-top: 70px;
		padding-bottom: 45px;
	}

	@include r($xs-breakpoint) {
		padding-bottom: 25px;
	}

	> div:first-child .footer__inner {
		border-top: 1px solid $border-color;
		padding-top: 80px;

		@include r($md-breakpoint) {
			padding-top: 35px;
		}
	}
}

.footer__top {
	position: relative;

	.footer__inner {
		display: flex;
		justify-content: space-between;

		@include r($md-breakpoint) {
		    flex-flow: wrap;
		}
	}

	.footer__left {
		width: percentage(450/1200);

		@include r($md-breakpoint) {
			width: percentage(288/720);
		}

		@include r($xs-breakpoint) {
			width: 100%;
		}

		.list-container {
			display: flex;

			@include r($xs-breakpoint) {
				justify-content: space-between;
			}

			> ul {
				width: 50%;

				@include r($xs-breakpoint) {
					width: auto;
				}
			}
		}
	}

	.footer__center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -63px;
		z-index: 10;
		display: flex;
		flex-flow: column;
		justify-content: center;

		@include r($md-breakpoint) {
			position: relative;
			transform: none;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			flex-flow: row;
			justify-content: space-between;
			width: 100%;
			order: -1;
			margin-bottom: 38px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 35px;
		}

		.logo {

			@include r($md-breakpoint) {
				width: percentage(278/720);
			}

			@include r($xs-breakpoint) {
				width: 50%;
			}

			svg {
				width: 142px;
				height: 57px;

				@include r($md-breakpoint) {
					width: 113px;
					height: 43px;
				}
			}
		}

		.footer__wrapper {

			@include r($md-breakpoint) {
				width: percentage(398/720);
				display: flex;
				align-items: center;
				justify-content: space-between;

				> div {
					width: percentage(188/398);
				}
			}

			@include r($xs-breakpoint) {
				width: 50%;
				justify-content: center;

				> div {
					width: 100%;
				}
			}

			.mailLink {
				display: none;

				@include r($md-breakpoint) {
					display: block;
				}

				@include r($xs-breakpoint) {
					display: none;
				}
			}
		}

		.socialsList {
			position: relative;
			margin-top: 83px;

			@include r($md-breakpoint) {
				margin-top: 0;
			}
		}
	}

	.footer__right {
		width: percentage(416/1200);
		display: flex;

		@include r($md-breakpoint) {
			width: percentage(398/720);
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@include r($xs-breakpoint) {
			width: 100%;
			display: block;
			margin-top: 50px;
		}

		> div {
			width: 50%;

			@include r($md-breakpoint) {
				width: percentage(188/398);
			}

			@include r($xs-breakpoint) {
				width: 100%;

				&:not(:first-child) {
					margin-top: 30px;
				}
			}

			&:last-child {
				padding-left: 20px;

				@include r($md-breakpoint) {
					padding-left: 0;
				}
			}
		}
	}
}

.footer__bottom {
	padding-top: 36px;

	@include r($md-breakpoint) {
		padding-top: 50px;
	}

	@include r($xs-breakpoint) {
		position: relative;
	}

	.footer__inner {
		display: flex;
		justify-content: space-between;

		@include r($xs-breakpoint) {
			display: block;
		}
	}

	.footer__left {
		width: percentage(450/1200);
		display: flex;

		@include r($md-breakpoint) {
			justify-content: space-between;
			width: percentage(433/720);
		}

		@include r($xs-breakpoint) {
			display: flex;
			flex-flow: column-reverse;
			width: 100%;
			margin-top: 22px;
		}

		> div {
			width: 50%;

			@include r($md-breakpoint) {
			    &:first-child {
				    width: percentage(154/433);
			    }

				&:last-child {
					width: percentage(231/433);
				}
			}

			@include r($xs-breakpoint) {
				width: 100% !important;

				&:first-child {
					margin-top: 12px;
				}
			}
		}
	}

	.container {

		@include r($xs-breakpoint) {
			position: static;
		}
	}

	.footer__right {
		width: percentage(416/1200);
		display: flex;
		align-items: center;

		@include r($md-breakpoint) {
			justify-content: flex-end;
		}

		@include r($xs-breakpoint) {
			width: 100%;
			margin-top: 4px;
		}

		.mailLink {

			@include r($md-breakpoint) {
				display: none;
			}

			@include r($xs-breakpoint) {
				display: block;
				position: absolute;
				top: 27px;
				left: 20px;
			}
		}

		> div {
			width: 48%;


			@include r($md-breakpoint) {
				width: auto;
			}
		}
	}
}

.footer {

	.menu__item:not(:first-child) {
		margin-top: 21px;
	}

	.menu__link {
		font-size: 15px;
		font-weight: 500;

		@include r($md-breakpoint) {
			font-size: 14px;
		}
	}
}
