.header {
	padding: 38px 0 2px;
	position: relative;
	z-index: 10;

	@include r($md-breakpoint) {
		padding: 25px 0;
	}

	@include r($xs-breakpoint) {
		padding: 15px 0;
	}

	&.header--absolute {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

	.logo {
		position: absolute;
		top: -8px;
		left: 50%;
		transform: translateX(-50%);

		@include r($md-breakpoint) {
			position: relative;
			transform: none;
			top: 0;
			left: 0;
		}
	}

	.header__left,
	.header__right {

		@include r($md-breakpoint) {
			display: none;
		}
	}
}

.header__center {

	@include r($md-breakpoint) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.btn--burger {
		display: none;

		@include r($md-breakpoint) {
			display: block;
		}
	}
}

.header.header--white {
	color: rgba($white, .6);

	.logo svg {
		fill: $white;
	}

	.nav .menu__link {
		color: $white;

		&:hover {
			color: $primary-color;
		}
	}

	.btn--burger .bar {
		background-color: #fff;
	}

	.header__top {
		border-color: rgba($white, .21);
	}

	.location__phone {
		color: rgba($white, .6);

		&:hover {
			color: #fff;
		}
	}
}

.header__top {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-right: 12px;
	border-bottom: 1px solid rgba(#000, .1);
	padding-bottom: 25px;

	@include r($md-breakpoint) {
		padding-right: 0;
		padding-bottom: 16px;
	}

	@include r($xs-breakpoint) {
		border: 0;
	}
}

.header__bottom {

	@include r($md-breakpoint) {
		display: none;
	}
}


.headerSticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 100;
	box-shadow: $box-shadow;
	transform: translateY(-100%);
	transition: .3s all;

	&.is-active {
		transform: translateY(0);
	}

	.header__top {
		display: none;

		@include r($md-breakpoint) {
			display: block;
			border: 0;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}
