.badge--primary {
	background-color: $primary-color;
	color: #fff;
	border-radius: 3px;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	height: 32px;
	line-height: 33px;
	text-align: center;
	width: 103px;
}
