.breadcrumbs {

	@include r($md-breakpoint) {
		display: none;
	}
}

.breadcrumbsList {
	border-top: 1px solid $border-color;
	font-size: 13px;
	display: flex;
	align-items: center;

	&__item {
		padding: 26px 0;

		&:not(:first-child) {
			margin-left: 20px;

			&:before {
				content: '/';
				display: inline-block;
				vertical-align: middle;
				color: #b4b4b4;
				margin-right: 18px;
			}
		}
	}

	a {
		color: #b4b4b4;
	}

	span {
		color: $black;
	}
}
