.nav.nav--category .categorySelect {
	position: relative;
	z-index: 10;
	font-size: 14px;
	font-weight: 500;

	&.is-active {

		.menu {
			opacity: 1;
			visibility: visible;
		}

		.categorySelect__label:after {
			transform: translateY(-50%) rotate(180deg);
		}
	}

	&__label {
		color: $primary-color;
		border: 1px solid;
		border-color: $border-color transparent;
		padding: 14px 0 12px;
		position: relative;
		background-color: #fff;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background-image: url('../img/icons/arrow_down--blue.svg');
			@include cover();
			width: 10px;
			height: 6px;
		}
	}

	.menu {
		position: absolute;
		top: 100%;
		left: -20px;
		right: -20px;
		opacity: 0;
		visibility: hidden;
		background-color: #fff;
		padding: 0 20px 40px;

		.menu__item {
			width: 100% !important;
			border: 0 !important;
			margin-top: 29px;

			a {
				display: block;
				text-align: left;
				padding: 0;
			}
		}

	}

}
