.dateCalendar {
	font-weight: 300;
	font-size: 13px;
	color: #b0b0b0;
	position: relative;
	padding-left: 23px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 13px;
		height: 13px;
		@include cover();
		background-image: url('../img/icons/calendar.svg');
	}
}

.dateCalendar.dateCalendar--md {
	font-size: 16px;
	padding-left: 32px;

	@include r($md-breakpoint) {
		font-size: 14px;
	}

	&:before {
		width: 18px;
		height: 18px;

		@include r($md-breakpoint) {
			margin-top: -2px;
		}
	}
}
