.dev {

	a {
		color: $black;
		font-size: 12px;
		line-height: 20px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-align: right;

		&:hover {

			span {
				color: $primary-color;
			}
		}

		@include r($sm-breakpoint) {
			padding-left: 60px;
		}

		span {
			display: block;
			transition: .3s all;
			margin-right: 20px;
			color: #999;
		}
	}
}


