.listBox {
	border: 15px solid #e6f8fd;
	padding: 55px calc(77px - 15px);
	color: $black-lighten;

	@include r($md-breakpoint) {
		padding: 37px 25px 43px;
	}

	@include r($xs-breakpoint) {
		border-width: 10px;
		padding: 27px 20px 32px;
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		color: $black;
		margin-bottom: 49px;

		@include r($md-breakpoint) {
			margin-bottom: 30px;
		}

		@include r($xs-breakpoint) {
			font-size: 18px;
			margin-bottom: -2px;
		}
	}

	&__body:not(:first-child) {
		margin-top: 30px;

		@include r($md-breakpoint) {
			margin-top: 20px;
		}

		> ul {

			@include r($md-breakpoint) {
				font-size: 14px;
			}

			li {
				position: relative;
				padding-left: 33px;

				@include r($md-breakpoint) {
					padding-left: 25px;
				}

				@include r($xs-breakpoint) {
					padding-left: 17px;
				}
			}

			li:before {
				content: '';
				position: absolute;
				top: 6px;
				left: 2px;
				width: 11px;
				height: 8px;
				background-image: url('../img/icons/checked.svg');
				@include cover();

				@include r($md-breakpoint) {
					top: 5px;
					left: 0;
				}

				@include r($xs-breakpoint) {
					left: -6px;
				}
			}

			li:not(:first-child) {
				margin-top: 19px;

				@include r($md-breakpoint) {
					margin-top: 16.5px;
				}
			}
		}
	}

	&__body--flex {
		display: flex;
		justify-content: space-between;
		margin: 0 -8px;
		flex-flow: wrap;

		@include r($md-breakpoint) {
			margin: 0 -20px;
		}

		.listBox__column:first-child {
			width: percentage(445/1046);

			@include r($xs-breakpoint) {
				width: 100%;
			}
		}

		.listBox__column:last-child {
			width: percentage(534/1046);

			@include r($xs-breakpoint) {
				width: 100%;
				margin-top: 18px;
			}
		}
	}

	&__column {
		font-size: 16px;
		line-height: 25px;
		padding: 0 8px;

		@include r($md-breakpoint) {
			font-size: 14px;
			line-height: 22px;
			padding: 0 20px;
		}

		li b:first-child {
			@include r($md-breakpoint) {
				display: block;
			}
		}

		li:not(:first-child) {
			margin-top: 25px;

			@include r($md-breakpoint) {
				margin-top: 22px;
			}
		}
	}

	a {
		color: $primary-color;
		font-weight: 500;
	}
}


.listIcon {

	&__item {
		position: relative;
		padding-left: 55px;

		@include r($xs-breakpoint) {
			padding-left: 45px;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;

		@include r($xs-breakpoint) {
			top: 5px;
			transform: translateY(0);
		}
	}
}
