.mapAnimate {
	text-align: center;
	margin: 31px 0 60px;

	@include r($md-breakpoint) {
		margin: 30px 0 35px;
	}

	@include r($xs-breakpoint) {
		margin: -16px 0 37px;
	}

	svg {
		position: relative;
		left: -19px;

		@include r($md-breakpoint) {
			width: 358px;
			height: 211px;
		}

		@include r($xs-breakpoint) {
			width: 280px;
			height: 165px;
			left: 0;
		}
	}

	svg circle {
		transform-origin:50% 50%;
		transform: scale(0);
	}

	&.is-animated {

		svg circle {
			animation: circle_animation 1.5s linear forwards;
		}
	}
}

@keyframes circle_animation {

	to {
		transform: scale(1);
	}
}
