.socialsList {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
	margin: 0 -6px;

	&__item {
		margin: 0 6px;
	}
}

.social {
	display: block;

	svg {
		vertical-align: middle;
		overflow: visible;
		width: 25px;
		height: 25px;
		border-radius: 100%;
		background-color: $primary-color;
		padding: 6px 5px;
		fill: #fff;
	}
}
