.page-ready {

	.header,
	.bannerThumbs__container,
	.banner .container {
		animation: fadeIn 1s forwards linear;
		animation-delay: .5s;
	}
}

.header,
.bannerThumbs__container,
.banner .container {
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
