h1, h2, h3, h4 {
	color: #1d1d1d;
}

h1 {
	@include font-size($h1-font-sizes);
	//font-weight: $f-semiBold;
	font-weight: $f-medium;
}

h2 {
	@include font-size($h2-font-sizes);
	//font-weight: $f-semiBold;
	font-weight: $f-medium;
}

h3 {
	@include font-size($h3-font-sizes);
	//text-transform: uppercase;
	//font-weight: $f-black;

	font-weight: $f-medium;
}

h4 {
	@include font-size($h4-font-sizes);
	font-weight: $f-bold;
}

p {
	@include font-size($text-font-sizes);
	font-weight: $f-light;
}

ol {
	counter-reset: list;

	li:before {
		counter-increment: list;
		content: counter(list) ". ";
	}
}


article {

	h1 {
		margin-bottom: 30px;

		@include r($md-breakpoint) {
			margin-bottom: 15px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 17px;
		}

		+ img {
			margin-top: 10px;

			@include r($md-breakpoint) {
				margin-top: 17px;
			}

			@include r($xs-breakpoint) {
				margin-top: 5px;
			}
		}
	}

	h3 + ul {
		margin-top: 43px;

		@include r($md-breakpoint) {
			margin-top: 23px;
		}
	}

	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	img {
		margin-bottom: 26px;
		margin-top: 28px;

		@include r($md-breakpoint) {
			margin-top: 14px;
			margin-bottom: 16px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 4px;
			margin-top: 10px;
		}
	}

	p {
		margin: 25px 0;

		@include r($md-breakpoint) {
			margin: 20px 0;
		}

		@include r($xs-breakpoint) {
			margin: 22px 0;
		}
	}

	b {
		color: $black;
		font-weight: $f-bold;
	}

	> ul {
		margin: 27px 0;

		@include r($md-breakpoint) {
			font-size: 14px;
			margin: 18px 0 28px;
		}

		li {
			position: relative;
			padding-left: 31px;

			@include r($md-breakpoint) {
				padding-left: 26px;
			}
		}

		li:before {
			content: '';
			position: absolute;
			top: 6px;
			left: 2px;
			width: 11px;
			height: 8px;
			background-image: url('../img/icons/checked.svg');
			@include cover();

			@include r($md-breakpoint) {
				top: 2px;
				left: 0;
			}
		}

		li:not(:first-child) {
			margin-top: 20px;

			@include r($md-breakpoint) {
				margin-top: 16px;
			}
		}
	}

	a {
		color: $primary-color;

		b {
			color: $primary-color;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
