@import "grid";
@import "typography";

.containerFluid,
.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;

	@include r($md-breakpoint) {
		padding: 0 24px;
	}

	@include r($xs-breakpoint) {
		padding: 0 20px;
	}
}

.container {
	max-width: 1230px;

	@include r($md-breakpoint) {
		max-width: 720px + 24px + 24px;
	}
}

.i-content {
	margin: 0 auto;
	max-width: 640px;

	@include r($md-breakpoint) {
		max-width: 636px;
	}
}

.hiddenMobile {
	@include r($mob) {
		display: none;
	}
}

.hiddenTablet {

	@include rmin($xs-breakpoint) {
		display: none;
	}
}

.hiddenDesktop {

	@include rmin($mob) {
		display: none;
	}
}

