.grid {
	display: flex;
	flex-flow: wrap;

	&.gridDesktop--2 {
		margin: -12px;

		@include r($md-breakpoint) {
			margin: -10px;
		}

		.grid__item {
			width: 50%;
			padding: 12px;

			@include r($md-breakpoint) {
				padding: 10px;
			}

			@include r($xs-breakpoint) {
				width: 100%;
			}
		}
	}

	&.gridDesktop--3 {
		margin: -12px;

		.grid__item {
			width: 33.33%;
			padding: 12px;
		}
	}

	&.gridDesktop--4 {
		margin: -12px -12px;

		@include r($md-breakpoint) {
			margin: -6px;
		}

		.grid__item {
			width: 25%;
			padding: 12px 12px;

			@include r($md-breakpoint) {
				padding: 6px;
			}
		}
	}

	&.gridTablet--2 {

		@include r($md-breakpoint) {
			margin: -6.5px -7.5px;

			.grid__item {
				width: 50%;
				padding: 6.5px 7.5px;
			}
		}

		@include r($xs-breakpoint) {
			margin: -9px -7.5px;

			.grid__item {
				width: 50%;
				padding: 9px 7.5px;
			}
		}
	}

	&.gridTablet--3 {

		@include r($md-breakpoint) {
			margin: -6.5px -7.5px;

			.grid__item {
				width: 33.33%;
				padding: 6.5px 7.5px;
			}
		}

		@include r($xs-breakpoint) {
			margin: -9px -7.5px;

			.grid__item {
				width: 100%;
				padding: 9px 7.5px;
			}
		}
	}

	&.gridMobile--2 {

		@include r($xs-breakpoint) {
			margin: -9px -7.5px;

			.grid__item {
				width: 50%;
				padding: 9px 7.5px;
			}
		}
	}

	&.gridMobile--1 {

		@include r($xs-breakpoint) {
			margin: -9px -7.5px;

			.grid__item {
				width: 100%;
				padding: 9px 7.5px;
			}
		}
	}

	.grid__item .card {
		height: 100%;
	}
}
