// Colors
$primary-color: #0cbcee;
$primary-color-darken: #0c9cee;

$black: #000;
$black-lighten: #7f7f7f;
$black-light: #e5e5e5;

$gray: #f9f9f9;
$border-color: #e1e1e1;

$white: #fff;
$white-darken: #fbfbfb;

$text-color: $black-lighten;

// Box shadow
$box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.05);

// Border radius
$border-radius: 40px;

// Transition
$easing: cubic-bezier(0.58, 0.01, 0.41, 1);
$transition: all 0.3s ease-in-out;
$transition-easing: all 0.3s $easing;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$xlg-breakpoint: 1600;
$lg-breakpoint: 1250;
$md-breakpoint: 1023;
$sm-breakpoint: 900;
$xs-breakpoint: 767;

$mob: $xs-breakpoint;

$breakpoints: (
		large : $xlg-breakpoint + 'px',
		medium: $md-breakpoint + 'px',
		small : $xs-breakpoint + 'px'
);


//typography
$font-path: '../fonts/';
$font-main: 'MuseoSansCyrl';

$h1-font-sizes: (
		null : 40px,
		medium: 30px,
		small : 25px,
);

$h2-font-sizes: (
		null : 27px,
		medium: 20px,
		small : 20px,
);

$h3-font-sizes: (
		null : 20px,
		medium: 16px,
		small : 16px,
);

$h4-font-sizes: (
		null : 16px,
		medium: 14px,
		small : (14px, 22px),
);

$text-font-sizes: (
		null : (16px, 25px),
		medium: (14px, 22px),
		small: (14px, 22px),
);

$f-black: 900;
$f-extraBold: 800;
$f-bold: 700;
$f-semiBold: 600;
$f-medium: 500;
$f-regular: 400;
$f-light: 300;
