.icon-advantages1 {
  width: 1.14em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-advantages2 {
  width: 0.73em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-advantages3 {
  width: 1.1em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-advantages4 {
  width: 1em;
  height: 1em;
  fill: #0EBDEE;
}
.icon-advantages5 {
  width: 1.41em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-advantages6 {
  width: 1em;
  height: 1em;
  fill: #0EBDEE;
}
.icon-advantages7 {
  width: 1.61em;
  height: 1em;
  fill: #0EBDEE;
}
.icon-arrow_small_left {
  width: 0.6em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-arrow_small_right {
  width: 0.6em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-car {
  width: 2.3em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-checked {
  width: 1.38em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.46em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-marker {
  width: 0.69em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-price {
  width: 1em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-step {
  width: 1.38em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-time {
  width: 1em;
  height: 1em;
  fill: #0CBCEE;
}
.icon-youtube {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
