.advantagesList {
	display: flex;
	flex-flow: wrap;

	.advantages__item {
		width: 50%;

		&:nth-child(1) {
			z-index: 1;
		}
	}
}

.advantages__item {
	padding: 40px 32px 25px;
	position: relative;
	box-shadow: $box-shadow;
	background-color: #fff;
	min-height: 221px;

	@include r($md-breakpoint) {
		min-height: 161px;
		padding: 30px 15px 11px;
	}

	@include r($xs-breakpoint) {
		min-height: 160px;
		padding: 13px 21px;
	}

	&:nth-child(1) {
		z-index: 1;
	}

	.advantages__subtitle {
		margin-top: -15px;
		margin-bottom: 3px;

		@include r($md-breakpoint) {
			margin-bottom: -4px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}

.advantages__title {
	font-weight: 500;
	font-size: 60px;
	color: $primary-color;

	@include r($md-breakpoint) {
		font-size: 45px;
	}

	@include r($xs-breakpoint) {
		font-size: 60px;
	}
}

.advantages__subtitle,
.advantages__description {
	font-size: 15px;
	line-height: 20px;

	@include r($md-breakpoint) {
		font-size: 14px;
		line-height: 1.3;
	}
}

.advantages__description {
	max-width: 170px;
	line-height: 25px;

	@include r($md-breakpoint) {
		margin-top: -5px;
		max-width: 128px;
	}
}

.advantages__icon {
	@include coverdiv();
	overflow: hidden;
	pointer-events: none;

	img {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.advantages__icon--estetic_kosmetolog img{
	bottom: -15px;
	right: -8px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		width: 78px;
		bottom: -9px;
		right: -18px;
	}
}

.advantages__icon--estetic_kosmetolog2 img{
	bottom: 0;
	right: -5px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		width: 75px;
		bottom: -2px;
	}
}

.advantages__icon--kongress img{
	bottom: -28px;
	right: -55px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		width: 109px;
		bottom: -16px;
		right: -50px;
	}
}

.advantages__icon--partners img{
	bottom: -8px;
	right: -18px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		width: 87px;
	}
}


.advantages__icon--shops img {
	right: -10px;
	bottom: -5px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		bottom: -14px;
		right: -25px;
		width: 79px;
	}
}

.advantages__icon--members img{
	bottom: -24px;
	right: -20px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		width: 93px;
	}
}

.advantages__icon--study img {
	bottom: -22px;
	right: -7px;

	@media (min-width: 320px) and (max-width: $md-breakpoint + 'px') {
		width: 84px;
		bottom: -18px;
		right: -9px;
	}
}
