.locationBox {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	@include r($md-breakpoint) {
		font-size: 14px;
		align-items: flex-start;
	}

	&__left {
		width: percentage(613/1200);

		@include r($md-breakpoint) {
			width: percentage(402/720);
		}

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}

	&__right {
		width: percentage(440/1200);
		margin-left: percentage(78/1200);

		@include r($md-breakpoint) {
			width: percentage(276/720);
			margin-left: auto;
		}

		@include r($xs-breakpoint) {
			width: 100%;
			margin-top: 38px;
		}
	}

	&__map {
		height: 437px;
		background-color: $gray;

		@include r($md-breakpoint) {
			height: 299px;
		}
	}

	&__title {
		font-weight: 700;
		color: $black;
	}

	&__subtitle {
		margin-top: 25px;

		@include r($md-breakpoint) {
			margin-top: 15px;
		}
	}

	&__item:not(:first-child) {
		margin-top: 20px;

		@include r($md-breakpoint) {
			margin-top: 18px;
		}
	}
}
