@import "inputs";
@import "range";

.form__rules {
	color: #7f7f7f;
	font-size: 15px;
	line-height: 21px;

	@include r($md-breakpoint) {
		font-size: 14px;
		line-height: 22px;
	}

	a {
		color: $primary-color;

		&:hover {
			text-decoration: underline;
		}
	}
}


.form__field {

	.select2-container {
		min-width: 100%;
		max-width: 100%;
	}
}
