.section--articles {
	padding: 13px 0 0;

	@include r($md-breakpoint) {
		padding: 2px 0 0;
	}

	.nav {
		margin-top: 41px;

		@include r($md-breakpoint) {
			margin-top: 23px;
		}

		@include r($xs-breakpoint) {
			margin-top: 25px;
		}
	}

	.grid {
		margin-top: 38px;

		@include r($md-breakpoint) {
			margin-top: 20px;
		}

		@include r($xs-breakpoint) {
			margin-top: 10px;
		}

		&.gridDesktop--3 {

			@include rmin($md-breakpoint) {
				margin-left: -12px;
				margin-right: -12px;

				.grid__item {
					width: 33.33%;
					padding: 12px;
				}
			}
		}
	}
}
