.section--banner {
	position: relative;
}

.bannerGallery {

	.swiper-slide {
		overflow: hidden;

		.banner__photo {
			transform: scale(1.15);
		}

		&.swiper-slide-active {

			.banner__photo {
				transform: scale(1);
			}

		}
	}
}

.banner {
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;

	@include r($md-breakpoint) {
		height: calc(100vh - var(--browser-address-bar));
	}

	@include r($xs-breakpoint) {
		height: 323px;
		padding-bottom: 18px;
	}

	> * {
		position: relative;
		z-index: 2;
	}

	.banner__photo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include cover();
		pointer-events: none;
		transition: .6s all linear;
		transition-delay: .5s;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#030e19, .5);
		}
	}

	&__title {
		font-size: 50px;
		font-weight: 500;
		color: #fff;
		max-width: 588px;

		@include r($md-breakpoint) {
			font-size: 40px;
			max-width: 440px;
		}

		@include r($xs-breakpoint) {
			font-size: 25px;
		}
	}
}

.bannerThumbs__container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: 10;
}

.bannerThumbs {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 10;
	margin-top: 60px;

	@include r($md-breakpoint) {
		margin-top: 22px;
		right: 23px;
	}

	@include r($xs-breakpoint) {
		right: 0;
		left: 0;
		bottom: 10px;
		top: auto;
		transform: none;

		.swiper-slide:nth-child(2) {
			display: flex;
			justify-content: center;
		}

		.swiper-slide:nth-child(3) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__inner {
		width: 104px;
		height: 104px;
		border-radius: 100%;
		position: relative;
		border: 1px dashed transparent;
		transition: $transition;
		cursor: pointer;

		@include r($md-breakpoint) {
			width: 76px;
			height: 76px;
		}

		&:before {
			content: '';
			width: 90px;
			height: 90px;
			@include vcenter();
			border: 1px dashed rgba(#fff, .3);
			border-radius: 100%;
			opacity: 0;
			pointer-events: none;
			transition: $transition;

			@include r($md-breakpoint) {
				width: 66px;
				height: 66px;
			}
		}
	}

	&__photo {
		width: 62px;
		height: 62px;
		@include cover();
		@include vcenter();
		border-radius: 100%;
		transition: $transition;

		@include r($md-breakpoint) {
			width: 45px;
			height: 45px;
		}
	}

	.swiper-slide.is-active {

		.bannerThumbs__inner {
			border-color: rgba(#fff, .1);
			cursor: default;

			&:before {
				opacity: 1;
			}
		}

		.bannerThumbs__photo {
			width: 75px;
			height: 75px;

			@include r($md-breakpoint) {
				width: 55px;
				height: 55px;
			}
		}
	}
}
