.section--brands {
	padding: 21px 0 0;

	@include r($md-breakpoint) {
		padding: 8px 0 0;
	}

	@include r($xs-breakpoint) {
		padding: 3px 0 0;
	}

	.companyBrands__list {
		padding-top: 40px;

		@include r($md-breakpoint) {
			padding-top: 23px;
		}
	}
}
