.section--catalog {
	padding: 14px 0 0;

	@include r($md-breakpoint) {
		padding: 8px 0 0;
	}

	@include r($xs-breakpoint) {
		padding: 3px 0 0;
	}


	[data-counter]:after {
		content: '(' attr(data-counter) ')';
		vertical-align: top;
		font-size: 25px;
		margin-left: 8px;
		color: #9c9c9c;

		@include r($md-breakpoint) {
			font-size: 18px;
			margin-left: 5px;
		}

		@include r($xs-breakpoint) {
			font-size: 14px;
			margin-left: 2px;
		}
	}

	.section__title {
		margin-bottom: 49px;
		width: 100%;

		@include r($md-breakpoint) {
			max-width: 500px;
			margin-bottom: 36px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 39px;
		}
	}

	.section__inner {
		display: flex;
		flex-flow: wrap;

		> .grid {
			width: calc(100% + 24px);
		}
	}

	.section__left {
		width: percentage(282/1200);
		margin-top: -3px;

		@include r($md-breakpoint) {
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 20px;
		}

		.filter {
			max-width: 258px;

			@include r($md-breakpoint) {
				max-width: 100%;
			}
		}
	}

	.section__right {
		width: percentage(894/1200);
		margin-left: auto;

		@include r($md-breakpoint) {
			width: 100%;
		}
	}

	.grid__bottom {
		margin-top: 25px;
		margin-left: -8px;
		margin-right: -8px;
		min-width: 100%;



		.btn {
			min-width: 218px;
			margin: 11px 8px;

			@include r($xs-breakpoint) {
				width: calc(100% - 16px);
			}
		}
	}
}
