.section--error {
	padding: 100px 0 3px;

	@include r($md-breakpoint) {
		padding: 15px 0 0;
	}

	@include r($xs-breakpoint) {
		padding: 18px 0 0;
	}

	.error__head img {

		@include r($xs-breakpoint) {
			max-width: 236px;
			display: block;
			margin: 0 auto;
		}
	}

	.error__bottom {
		margin-top: 38px;

		@include r($md-breakpoint) {
			margin-top: 27px;
		}

		@include r($xs-breakpoint) {
			margin-top: 31px;
		}
	}

	.error__title {
		margin-top: 20px;

		@include r($md-breakpoint) {
			margin-top: 15px;
		}
	}
}
