.section--procedures,
.section--news {
	padding: 13px 0 0;

	@include r($md-breakpoint) {
		padding: 8px 0 0;
	}

	@include r($xs-breakpoint) {
		padding: 3px 0 0;
	}

	.grid {
		margin-top: 38px;

		@include r($md-breakpoint) {
			padding-top: 25px;
		}
	}
}
