.section--preview {
	padding-top: 103px;

	@include r($md-breakpoint) {
		padding-top: 50px;
	}

	@include r($xs-breakpoint) {
		padding-top: 0;
	}

	&.is-animated {

		.preview__box:before {
			transform: translateX(0);
		}

		.section__title,
		.preview__button {
			opacity: 1;
		}
	}
}

.preview {
	padding: 126px 0 127px;
	position: relative;

	@include r($xs-breakpoint) {
		padding: 0;
	}

	.preview__photo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include cover();

		@include r($xs-breakpoint) {
			height: 232px;
			position: relative;
			margin: 0 -20px;
		}
	}

	@include r($md-breakpoint) {
		padding: 52px 0;
	}
}

.preview__box {
	width: percentage(408/1200);
	position: relative;
	padding: 75px 5px;

	@include r($md-breakpoint) {
		padding: 49px 2px 51px;
		width: percentage(290/720);
	}

	@include r($xs-breakpoint) {
		padding: 25px 30px 30px 20px;
		width: auto;
		margin: 0 -20px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -2000px;
		bottom: 0;
		right: 0;
		background-color: $primary-color;
		transform: translateX(-100%);
		transition: .9s all ease-out;
	}

	.section__title {
		color: #fff;
		position: relative;
		z-index: 1;
		left: 0;
		opacity: 0;
		transition: .3s all;
		transition-delay: .65s;
	}

	.preview__button {
		margin-top: 40px;
		transition: .3s all;
		transition-delay: .65s;
		opacity: 0;

		@include r($md-breakpoint) {
			margin-top: 22px;
		}

		@include r($xs-breakpoint) {
			margin-top: 24px;
			margin-right: -9px;

			.btn {
				width: 100%;
			}
		}
	}
}
