.section--products {
	padding-top: 82px;
	padding-bottom: 84px;

	@include r($md-breakpoint) {
		padding-top: 42px;
		padding-bottom: 29px;
	}

	@include r($xs-breakpoint) {
		padding-top: 11px;
		padding-bottom: 54px;
	}

	&.is-animated {

		.grid .grid__item {
			opacity: 1;
		}
	}

	.section__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include r($xs-breakpoint) {
			display: block;
		}
	}

	.section__left {
		width: percentage(894/1200);

		@include r($md-breakpoint) {
			width: percentage(476/720);
		}

		@include r($xs-breakpoint) {
			width: 100%;
			padding-top: 2px;
		}
	}

	.section__right {
		width: percentage(282/1200);
		padding-top: 26px;

		@include r($md-breakpoint) {
			width: percentage(231/720);
			padding-top: 126px;
		}

		@include r($xs-breakpoint) {
			width: 100%;
			padding-top: 34px;
		}

		.brands {
			background-color: $primary-color;
			color: #fff;
			padding: 112px 70px 127px;
			position: relative;

			@include r($md-breakpoint) {
				padding: 40px 40px 47px;
			}

			@include r($xs-breakpoint) {
				padding: 33px 0 34px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				bottom: 0;
				right: -9999px;
				background-color: $primary-color;

				@include r($xs-breakpoint) {
					right: 100%;
					left: -999px;
				}
			}

			a, .section__title {
				color: #fff;
			}

			.section__title {

				@include r($xs-breakpoint) {
					font-size: 40px;
				}
			}

		}
	}
}

.products {

	.grid {
		padding-top: 46px;

		@include r($md-breakpoint) {
			padding-top: 22px;
		}

		.grid__item {
			opacity: 0;
			transition: .5s all;
			@include top-menu-items-transition($items: 6)
		}
	}

	.products__bottom {
		margin-top: 38px;

		@include r($md-breakpoint) {
			display: none;
		}
	}
}

.brands {

	.brandsList:not(:first-child) {
		margin-top: 30px;

		@include r($md-breakpoint) {
			margin-top: 26px;
		}

		@include r($xs-breakpoint) {
			margin-top: 15px;
		}
	}
}

.brandsList .brandsList__item:not(:first-child) {
	margin-top: 15px;

	@include r($md-breakpoint) {
		margin-top: 21px;
	}

	@include r($xs-breakpoint) {
		margin-top: 18px;
	}
}
