.section--procedures {
	padding: 23px 0 0;

	@include r($md-breakpoint) {
		padding: 8px 0 0;
	}

	@include r($xs-breakpoint) {
		padding: 3px 0 0;
	}

	.section__title {
		margin-bottom: 40px;

		@include r($md-breakpoint) {
			margin-bottom: 22px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 17px;
		}
	}

	.procedures__title h2 {

		@include r($xs-breakpoint) {
			font-size: 18px;
			line-height: 1.2;
		}
	}
}


.procedures__body {
	margin-top: 33px;

	@include r($md-breakpoint) {
		margin-top: 18px;
	}

	> img {
		margin-bottom: 43px;

		@include r($md-breakpoint) {
			margin-bottom: -17px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 0;
		}
	}
}


.proceduresInfo {
	box-shadow: $box-shadow;
	margin: 52px 0;
	padding: 27px 34px 25px;
	color: $black;
	font-size: 16px;
	line-height: 25px;

	@include r($md-breakpoint) {
		margin: 35px 0 45px;
		font-size: 14px;
		padding: 18px 32px 14px;
	}

	@include r($xs-breakpoint) {
		margin: 33px 0;
		line-height: 1.2;
		padding: 23px 17px 20px;
	}


	&__item {

		&:not(:first-child) {
			margin-top: 19px;
			padding-top: 22px;
			border-top: 1px solid $border-color;

			@include r($md-breakpoint) {
				margin-top: 13px;
				padding-top: 15px;
			}

			@include r($xs-breakpoint) {
				margin-top: 10px;
				padding-top: 20px;
			}
		}
	}

	a {
		color: $primary-color;


		&:hover {
			text-decoration: underline;
		}
	}

	img {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@include r($xs-breakpoint) {
		    flex-flow: wrap;
		}

		&:not(:first-child) {
			margin-top: 7px;

			@include r($xs-breakpoint) {
				margin-top: 0;
			}
		}
	}

	&__column:nth-child(1) {
		width: percentage(84/572);
		font-weight: 700;

		@include r($xs-breakpoint) {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	&__column:nth-child(2) {
		width: percentage(60/572);

		@include r($xs-breakpoint) {
			width: percentage(53/246);
		}
	}

	&__column:nth-child(3) {
		padding-left: 8px;
		width: percentage(428/572);

		@include r($md-breakpoint) {
			padding-right: 50px;
		}

		@include r($xs-breakpoint) {
			padding-right: 0;
			width: percentage(193/246);
			padding-left: 2px;
		}
	}
}
