.section--promo {
	padding: 13px 0 0;

	@include r($md-breakpoint) {
		padding: 8px 0 0;
	}

	.grid {
		margin-top: 38px;

		@include r($md-breakpoint) {
			margin-top: 27px;
		}
	}

	.phonesBox {
		margin-top: 60px;

		@include r($md-breakpoint) {
			display: none;
		}
	}
}
