.section--registration {
	padding: 22px 0 0;

	@include r($md-breakpoint) {
		padding: 8px 0 0;
	}

	@include r($xs-breakpoint) {
		padding: 3px 0 0;
	}

	.registration {
		margin-top: 50px;

		@include r($md-breakpoint) {
			margin-top: 32px;
		}

		@include r($xs-breakpoint) {
			margin-top: 26px;
		}
	}
}

.registration {
	box-shadow: $box-shadow;
	padding: 56px 78px;

	@include r($md-breakpoint) {
		padding: 30px 24px 14px;
	}

	@include r($xs-breakpoint) {
		padding: 16px 20px 24px;
	}
}


.form--registration {
	display: flex;
	flex-flow: wrap;
	margin: 0 -12px;

	> div {
		margin-bottom: 16px;
		padding: 0 12px;

		@include r($md-breakpoint) {
			margin-bottom: 8px;
		}

		@include r($xs-breakpoint) {
			margin-bottom: 10px;
		}
	}

	.form__field {
		width: 50%;

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}

	.form__field--textarea,
	.form__field--select {
		width: 100%;
	}

	.form__field--textarea {

		@include r($xs-breakpoint) {
			margin-top: 12px;
		}
	}

}

.form__bottom {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 30px -20px 0;

	@include r($md-breakpoint) {
		margin-top: 24px;
		position: relative;
		padding-left: 263px;
		display: block;
	}

	@include r($xs-breakpoint) {
		padding-left: 9px;
		margin-top: 16px;
		margin-left: 0;
		margin-right: 0;
	}

	> div {
		margin: 0 30px;

		@include r($xs-breakpoint) {
			margin: 0;
		}
	}

	.form__button {

		@include r($md-breakpoint) {
			position: absolute;
			top: 3px;
			left: 0;
		}

		@include r($xs-breakpoint) {
			position: relative;
			top: 0;
			margin-bottom: 24px;

			.btn {
				width: 100%;
			}
		}
	}

	.form__rules {
		max-width: 375px;

		@include r($md-breakpoint) {
			max-width: 100%;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		@include r($xs-breakpoint) {

			br {
				display: none;
			}
		}
	}
}
