@import "cardProduct";
@import "cardEvent";
@import "cardArticle";
@import "cardBrand";
@import "cardNews";
@import "cardModel";
@import "cardGood";
@import "cardProcedures";
@import "cardSales";

.card {
	position: relative;

	.card__link {
		@include coverdiv();
		z-index: 2;
	}

	.card__photo {
		@include cover();

		img {
			max-height: 100%;
		}
	}
}
