.card--procedures {
	box-shadow: $box-shadow;

	.card__photo {
		height: 225px;

		@include r($md-breakpoint) {
			height: 200px;
		}

		@include r($xs-breakpoint) {
			height: 158px;
		}
	}

	.card__body {
		background-color: #fff;
		padding: 25px 42px 30px 22px;

		@include r($md-breakpoint) {
			padding: 28px 25px 26px;
		}

		@include r($xs-breakpoint) {
			padding: 23px 18px;
		}
	}

	.card__title {
		color: $primary-color;
		font-weight: 500;
	}

	.card__subtitle {
		font-size: 14px;
		line-height: 20px;
		margin-top: 13px;
		max-height: 60px;
		overflow: hidden;

		@include r($xs-breakpoint) {
			margin-top: 8px;
			max-height: 80px;
		}
	}

	.card__button {
		max-width: 280px;
		margin: 30px auto 0;
		position: relative;
		z-index: 2;

		.btn {
			display: block;
			width: 100%;

			&:not(:first-child) {
				margin-top: 9px;
			}
		}
	}
}
