.card--model {
	color: $black;
	box-shadow: $box-shadow;

	.card__photo {
		height: 218px;

		@include r($md-breakpoint) {
			height: 200px;
		}

		@include r($xs-breakpoint) {
			height: 160px;
		}
	}

	.card__body {
		background-color: #fff;
		padding: 25px 45px 100px;
		text-align: center;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		height: calc(100% - 218px);
		min-height: 207px;

		@include r($md-breakpoint) {
			height: calc(100% - 200px);
			min-height: 200px;
		}

		@include r($xs-breakpoint) {
			height: calc(100% - 160px);
			min-height: auto;
			padding: 22px 22px 27px;
		}
	}

	.card__date {
		color: $primary-color;
		font-size: 13px;
		margin-bottom: 4px;

		@include r($xs-breakpoint) {
			margin-bottom: 6px;
		}

	}

	.card__title {
		font-size: 18px;
		font-weight: 500;
	}

	.btn--gray {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		width: 280px;
		z-index: 5;

		@include r($xs-breakpoint) {
			width: 260px;
			position: relative;
			bottom: 0;
			left: 0;
			transform: none;
			margin-top: 19px;
		}
	}
}
