.card--product {

	&:hover {

		.card__photo:before {
			opacity: 1;
			visibility: visible;
		}

		.card__title {
			color: $primary-color;
		}
	}

	.card__photo {
		height: 216px;
		position: relative;

		@include r($md-breakpoint) {
			height: 176px;
		}

		@include r($xs-breakpoint) {
			height: 100px;
		}

		&:before {
			content: '';
			@include coverdiv();
			background-color: rgba($primary-color, .55);
			background-image: url('../img/icons/product_hover.svg');
			background-size: 63px 28px;
			background-repeat: no-repeat;
			background-position: center center;
			transition: $transition;
			opacity: 0;
			visibility: hidden;
		}
	}

	.card__title {
		font-size: 16px;
		line-height: 20px;
		color: #000;
		padding: 18px 0;
		transition: $transition;

		@include r($md-breakpoint) {
			padding: 10px 0 15px;
			font-size: 15px;
			color: $primary-color;
			max-height: 46px;
			max-width: 173px;
		}

		@include r($xs-breakpoint) {
			font-size: 14px;
			max-width: 100%;
			line-height: 1.2;
		}
	}
}
