.card--good {
	font-weight: 500;
	color: $black;

	&:hover {

		.card__photo img{
			transform: scale(1.05);
		}

		.card__title,
		.card__subtitle {
			color: $primary-color;
		}
	}

	.card__photo {
		height: 282px;
		background-color: #f9f9f9;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;

		@include r($md-breakpoint) {
			height: 230px;
		}

		@include r($xs-breakpoint) {
			height: 134px;
			padding: 10px;
		}

		img {
			position: relative;
			transition: $transition;
		}
	}

	.card__body {
		padding: 19px 0 0;

		@include r($md-breakpoint) {
			padding: 15px 0 0;
		}

		@include r($xs-breakpoint) {
			padding: 10px 0 0;
		}
	}

	.card__title {
		font-size: 15px;
		transition: $transition;

		@include r($xs-breakpoint) {
			font-size: 14px;
			line-height: 19px;
		}
	}

	.card__subtitle {
		font-size: 14px;
		color: #6f6f6f;
		margin-top: 5px;
		max-width: 200px;
		transition: $transition;

		@include r($xs-breakpoint) {
			padding-right: 5px;
		}
	}
}
