.card--sales {
	box-shadow: $box-shadow;

	.card__photo {
		height: 332px;

		@include r($md-breakpoint) {
			height: 200px;
		}

		@include r($xs-breakpoint) {
			height: 158px;
		}
	}

	.card__body {
		padding: 26px 26px 32px;

		@include r($md-breakpoint) {
			padding: 25px 24px;
		}
	}

	.card__title {
		font-weight: 500;
		color: $black;

		@include r($md-breakpoint) {
			min-height: 38px;
			display: flex;
			align-items: center;
		}

		@include r($xs-breakpoint) {
			min-height: auto;
		}
	}

	.btn--border {
		margin-top: 20px;

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}
}
