.card--event {

	.card__photo {
		height: 218px;

		@include r($md-breakpoint) {
			height: 201px;
		}

		@include r($xs-breakpoint) {
			height: 159px;
		}
	}

	.card__body {
		background-color: #fff;
		padding: 24px 17px;
		height: calc(100% - 218px);
		display: flex;
		flex-flow: column;

		@include r($md-breakpoint) {
			padding: 24px 17px 30px;
			height: calc(100% - 201px);
		}

		@include r($xs-breakpoint) {
			padding: 15px 17px;
			height: calc(100% - 159px);
		}

		> div {
			width: 100%;
		}
	}

	.card__top {
		color: $black;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 23px;

		@include r($md-breakpoint) {
			padding-bottom: 18px;
		}

		@include r($xs-breakpoint) {
			padding-bottom: 10px;
		}
	}

	.card__dates {
		text-align: center;
		font-size: 13px;
		line-height: 20px;
	}

	.card__title {
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		font-weight: 500;
	}

	.card__category {
		position: absolute;
		top: 17px;
		right: 17px;

		@include r($md-breakpoint) {
			right: 15px;
		}

		@include r($xs-breakpoint) {
			top: 10px;
			right: 13px;
		}
	}

	.card__bottom {
		max-width: 280px;
		margin: auto auto 0;
		position: relative;
		z-index: 5;

		@include r($md-breakpoint) {
			max-width: 268px;
		}
	}

	.card__button .btn {
		width: 100%;
	}

	.card__info {
		padding:11px 0 20px 5px;

		@include r($md-breakpoint) {
			padding:8px 0 10px 0;
		}

		@include r($xs-breakpoint) {
			padding-bottom: 6px;
		}

		ul {
			display: flex;
			align-items: center;

			li {
				width: 50%;

				&:nth-child(even) {
					position: relative;

					@include r($xs-breakpoint) {
						padding-left: 18px;
					}

					&:before {
						content: '';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						width: 1px;
						height: 20px;
						background-color: #e1e1e1;
					}
				}
			}
		}
	}

	.card {
		box-shadow: $box-shadow;

		&__dates {
			color: $primary-color;
		}

		&__title {
			padding: 0 20px;
			line-height: 20px;
			margin-top: 2px;
		}

		&__top {
			border: 0;
			padding-bottom: 22px;
		}

		&__bottom {
			border-top: 1px solid $border-color;
			max-width: 100%;

			@include r($md-breakpoint) {
				max-width: 100%;
			}

			.btn--gray {
				margin-bottom: 9px;
			}
		}

		&__info {
			padding-bottom: 11px;
		}

		&__author {
			padding: 15px 0 14px;
			text-align: center;
			border-top: 1px solid $border-color;
		}

		&__button {
			max-width: 280px;
			margin: 0 auto;
		}
	}
}
